main {
  .new-tweet {
    display: none;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 5px;
    margin: 0 2em 20px 2em;
    padding: 10px;
    background-color: #eee;
  }

  h2 {
    margin: 0 0 20px 0;
    border-bottom: 1px solid black;
  }

  textarea {
    width: 100%;
  }

  .counter {
    float: right;
    margin-right: 10px;
    font-style: italic;
  }
}

.over-max-character {
  color: red;
}

.error-container {
  display: none;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 2em 20px 2em;
  padding: 10px;
  background-color: #ff9800;
  font-weight: bold;
}